@font-face {
  font-family: 'Gochi Hand';
  font-style: normal;
  font-weight: 400;
  src: local('Gochi Hand'), local('GochiHand-Regular'), url('../fonts/gochi.woff') format('woff');
}

html, body {
  position: relative;
  min-height: 100%;
  font-family:"Arial", sans-serif;
  color:#555566;
}
body .navbar-inner {
  border-radius:0;
  -webkit-border-radius:0;
  -moz-border-radius:0;
  background-color:#ececec;
  background-image:-webkit-gradient(linear,0 0,0 100%,from(),to());
  background-image:-moz-linear-gradient(,);
  background-image:-o-linear-gradient(,);
  background-image:linear-gradient(,);
}
body .navbar-inner .container { width:940px; }
body h2 { margin-bottom:10px; }
body form { margin:0; }
body form label.control-label { display:none; }
body form div.control-group {
  float:left;
  padding-right:15px;
  margin-bottom:0;
}
body p.info { color:#bbbbcc; }
.navbar .brand {
  padding: 8px 20px 8px;
  font-family: 'Gochi Hand';
  font-size: 28px;
}

input, textarea, select{ margin-bottom: 4px; }
.control-group .controls { height: 55px; }
.control-group .controls .help-inline {
  background: url('../images/error-arrow.png') no-repeat;
  margin-left: 4px;
  padding-left: 22px;
}

.control-group .controls .help-inline {
  display: block;
  color: #a11c20;
}